{{#isBare}}{{#sources}}
{{{content}}}{{/sources}}{{/isBare}}{{^isBare}}
  Module.createPackage('{{{name}}}', {
{{#sources}}{{#i}},
{{/i}}    '{{{name}}}': function (module, exports, require, global) {
{{{content}}}
    }{{/sources}}
  }{{#main}}, '{{{main}}}'{{/main}});
{{/isBare}}