[submodule "build/qwery"]
	path = build/qwery
	url = git://github.com/ded/qwery.git
[submodule "build/klass"]
	path = build/klass
	url = git://github.com/ded/klass.git
[submodule "build/reqwest"]
	path = build/reqwest
	url = git://github.com/ded/Reqwest.git
[submodule "build/script"]
	path = build/script
	url = git://github.com/ded/script.js.git
[submodule "build/smoosh"]
	path = build/smoosh
	url = git://github.com/fat/smoosh.git
[submodule "build/underscore"]
	path = build/underscore
	url = git://github.com/ded/underscore.git
[submodule "build/emile"]
	path = build/emile
	url = git://github.com/ded/emile.git
[submodule "build/bonzo"]
	path = build/bonzo
	url = git://github.com/ded/bonzo.git
[submodule "build/bean"]
	path = build/bean
	url = git://github.com/fat/bean.git
[submodule "build/colors"]
	path = build/colors
	url = git://github.com/Marak/colors.js.git
