/*!
  * =============================================================
  * Ender: open module JavaScript framework (https://ender.no.de)
  * Build: ender {{{context}}}
  * Packages: {{packages}}
  * =============================================================
  */

{{#sandbox}}!function () {

{{/sandbox}}{{{source}}}{{#sandbox}}

}.call({});{{/sandbox}}