{{#options.sandbox}}
/* Declare local API */
var require, provide, $, ender;

{{/options.sandbox}}{{{mainSource.raw}}}{{#options.sandbox}}

/* Set Local API */
require = this.require;
provide = this.provide;
ender = $ = this.ender;{{/options.sandbox}}
