{{^options.noop}}
(function () {

  var module = { exports: {} }, exports = module.exports;
{{#mainSource}}

{{{raw}}}{{/mainSource}}
  provide("{{packageName}}", module.exports);
{{#options.sandbox}}

  window["{{packageName}}"] = module.exports;
{{/options.sandbox}}{{#enderSource}}

{{{raw}}}
{{/enderSource}}
{{^enderSource}}
  $.ender(module.exports);
{{/enderSource}}
}());{{/options.noop}}{{#options.noop}}{{{mainSource.raw}}}{{/options.noop}}