{yellow}- add:{/yellow}
  + adds a package to the current Ender build
  + example: {cyan}$ ender add underscore backbone{/cyan}
  {red}+ options:{/red}
  - {yellow}--use{/yellow} (or {yellow}-u{/yellow}) target a specific Ender package (without use, Ender defaults to local ender.js or ender.min.js)
    + example: {cyan}$ ender add -u ../public/js/mootools.js{/cyan}
  - {yellow}--quiet{/yellow} suppress printing of non-error or warning messages to stdout