{yellow}- compile:{/yellow}
  + Allows you to compile your application along-side your ender installation using the Google Closure Compiler
  + example: {cyan}$ ender compile header.js footer.js app.js{/cyan}