{yellow}- info:{/yellow}
  + gives you the status of the current Ender build (including files size and package list)
  + example: {cyan}$ ender info{/cyan}
  + note: alternatively you can specify the {yellow}-i{/yellow} flag ({cyan}$ ender -i underscore backbone{/cyan})
  {red}+ options:{/red}
  - {yellow}--use{/yellow} (or {yellow}-u{/yellow}) target a specific Ender package (without use, Ender defaults to local ender.js or ender.min.js)
    + example {cyan}$ ender info -u ../public/js/mootools.js{/cyan}