
{red}Methods{/red} - for more info on any one method run {cyan}$ ender help method{/cyan}
----------------------------------------------------------------------
{yellow}- build:{/yellow}
  + accepts multiple npm packages to build into Ender library
  + example: {cyan}$ ender build domready qwery bean{/cyan}
{yellow}- refresh:{/yellow}
  + refreshes the current build (reinstalls all packages)
  + example: {cyan}$ ender refresh{/cyan}
{yellow}- add:{/yellow}
  + adds a package to the current Ender build
  + example: {cyan}$ ender add underscore backbone{/cyan}
{yellow}- remove:{/yellow}
  + removes a package from the current Ender build
  + example: {cyan}$ ender remove underscore backbone{/cyan}
{yellow}- info:{/yellow}
  + gives you the status of the current Ender build (including files size and package list)
  + example: {cyan}$ ender info{/cyan}
{yellow}- search:{/yellow}
  + searches NPM registry for provided keywords -- bubbles up Ender compatible modules
  + example: {cyan}$ ender search selector engine{/cyan}
{yellow}- compile:{/yellow}
  + Allows you to compile your application along-side your Ender installation using the Google Closure Compiler
  + example: {cyan}$ ender compile header.js app.js footer.js{/cyan}

{red}General Help{/red}
------------
If you get stuck please visit {yellow}http://github.com/ender-js/Ender{/yellow} and file an issue.

Support can sometimes be found on the #enderjs channel on Freenode IRC.

You may also want to consider @messaging {yellow}@Ender{/yellow} on Twitter.