{yellow}- refresh:{/yellow}
  + refreshes the current build (reinstalls all packages)
  + example: {cyan}$ ender refresh{/cyan}
  {red}+ options:{/red}
  - {yellow}--use{/yellow} (or {yellow}-u{/yellow}) target a specific ender package (without use, ender defaults to local ender.js or ender.min.js)
    + example: {cyan}$ ender refresh -u ../public/js/mootools.js{/cyan}
  - {yellow}--quiet{/yellow} suppress printing of non-error or warning messages to stdout