{yellow}- search:{/yellow}
  + searches the npm registry for provided keywords -- bubbles up ender compatible modules
  + example: {cyan}$ ender search bean{/cyan}
  {red}+ options:{/red}
  - {yellow}--max{/yellow} set a max number of search results to return (defaults to 8)
    + example: {cyan}$ ender search selector engine --max 20{/cyan}
